<h1>Editing Vopportunity Enrolment</h1>

<%= render 'form', vopportunity_enrolment: @vopportunity_enrolment %>

<%= link_to 'Show', @vopportunity_enrolment %> |
<%= link_to 'Back', vopportunity_enrolments_path %>
