<h1>Hello Stephanie</h1>
<p>How is your day?</p>
<p>You are offically on rails!</p>

<p>These are the current open opportunities:</p>


<p><%= link_to 'Organizations', controller: 'vorganizations'%></p>
